<h1>Name: <%= game.name %></h1>

<p>Description: <%= game.description %></p>

<p>Number of Players: <%= game.numberOfPlayers %><p>

  <a href="<%= "/game/" + game.name + "/edit" %>">
    Edit Game
  </a>
</p>
